[class*='ant-btn'][class*='ant-btn-text'][class*='ant-btn-lg'].menu_button {
    display: flex;
    margin-top: auto;
    align-items: center;
    gap: 16px;
    text-align: 'start';
    padding-top: 3px;
}

@media (max-width: 480px) {
    [class*='ant-btn'][class*='ant-btn-text'][class*='ant-btn-lg'].menu_button
        > [class*='anticon'] {
        display: none;
    }

    [class*='ant-btn'][class*='ant-btn-text'][class*='ant-btn-lg'].menu_button {
        justify-content: center;
    }
}
