.trigger {
    position: absolute;
    left: calc(100% - 1px);
    top: 47%;
    width: 0;
    border-left: 22px solid white;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    height: 66px;
}

.trigger > div {
    position: absolute;
    left: -18px;
    width: 14px;
    z-index: 10;
}

@media (max-width: 834px) {
    .trigger {
        top: 47%;
    }
}

@media (max-width: 479px) {
    .trigger {
        top: 3%;
        height: 48px;
        border-left: 33px solid white;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
    }

    .trigger > div {
        position: absolute;
        left: -22px;
    }
}
