[class*='ant-card'].card_download {
    display: flex;
    flex-direction: column;
    width: 240px;
    border-radius: 2px;
}

.card_download [class*='ant-card-head-wrapper'] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.card_download [class*='ant-card-head-title'] {
    padding: 0;
    font-size: var(--h6-fz);
    letter-spacing: 0.7px;
}

.card_download [class*='ant-card-extra'] {
    margin-left: 0;
    padding: 0;
    color: var(--character-light-secondary-45);
    letter-spacing: 0.7px;
}

.card_btns-wrapper [class*='ant-btn'] {
    padding: 4px 16px 4px 8px;
}

.card_btns-wrapper [class*='ant-btn'] > span {
    letter-spacing: 0.7px;
}

@media (max-width: 479px) {
    [class*='ant-card'].card_download {
        width: 100%;
    }

    .card_download [class*='ant-card-head-wrapper'] {
        align-items: center;
    }

    [class*='ant-card'].card_download > [class*='card-body'] > [class*='ant-space'] {
        display: flex;
        justify-content: center;
    }

    .card_btns-wrapper [class*='ant-btn'] {
        padding-left: 16px;
    }
}
