.header {
    width: 100%;
    padding: 14px 24px;
}

.header_content {
    display: flex;
    justify-content: space-between;

}

.ant-typography {
    font-weight: 700;
    font-size: 38px;
    line-height: 130%;
}

.site-page-header .ant-page-header-heading-title>span {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-weight: 700;
    font-size: 38px;
    line-height: 130%;
}

.header_button {
    font-size: 14px;
    font-weight: 400;
}
