#root {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    background-image: url("./assets/images/main_page_light.png");
    background-position: center;
    background-size: cover;
}

.ant-layout.ant-layout-has-sider{
    background: transparent;
    height: 100vh;
}

.ant-layout-sider {
    background-color: white;
}

.ant-layout-header {
    background-color: white;
}

.ant-menu.ant-menu-inline-collapsed :first-child {
    padding: 0 calc(50% - 16px) !important;
}

.ant-menu-item-icon > svg :first-child {
    fill: blue;
}

#trigger {
    position: absolute;
    left: calc(100% + 1px);
    border-left: 20px solid white;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	height: 66px;
	width: 0;
    background-color: transparent;
}

#trigger > svg {
    position: absolute;
    left: -18px;
    width: 14px;
    z-index: 10;
}

.ant-layout.page-container {
    display: flex;
    flex-direction: row;
    background: url('/images/background-image-light.jpg') no-repeat center / cover;
}
