[class*='ant-card'].card_benefits {
    font-size: var(--h6-fz);
    color: var(--primary-light-9);
    letter-spacing: 0.5px;
    line-height: var(--h6-lh);
    margin-bottom: 24px;
    border-radius: 2px;
}

[class*='ant-card-body'] > p {
    margin: 0;
    line-height: 130%;
    letter-spacing: 0.6px;
}

@media (max-width: 834px) {
    [class*='ant-card-body'] > p {
        margin: 0;
        line-height: 130%;
    }
}

@media (max-width: 479px) {
    [class*='ant-card'].card_benefits > [class*='ant-card-body'] {
        padding: 16px;
    }
}
