[class*="ant-card"].card_description > * > [class*="ant-typography"] {
    font-size: var(--h4-fz);
    font-weight: 500;
    color: var(--character-light-title-9);
    letter-spacing: 0.5px;
    line-height: 130%;
    margin-bottom: 0;
    border-radius: 2px;
}

[class*="ant-card"].card_description > [class*="ant-card-body"] {
    padding-top: 22px;
}
